*xcuserdata*

*/build/*

/build

iOS App/droneControl/droneControl.xcodeproj/xcuserdata/Mikey.xcuserdatad/xcschemes/xcschememanagement.plist

iOS App/droneControl/droneControl.xcodeproj/xcuserdata/Mikey.xcuserdatad/xcschemes/droneControl.xcscheme

iOS App/droneControl/droneControl.xcodeproj/project.xcworkspace/xcshareddata/droneControl.xccheckout

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/Objects-normal/arm64/droneControlTests.LinkFileList

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests-project-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests-own-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests-generated-files.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests-all-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/droneControlTests-all-non-framework-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControlTests.build/dgph

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/Objects-normal/arm64/droneControl.LinkFileList

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl-project-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl-own-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl-generated-files.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl-all-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/droneControl-all-non-framework-target-headers.hmap

iOS App/droneControl/build/droneControl.build/Debug-iphoneos/droneControl.build/dgph

iOS App/droneControl/droneControl.xcodeproj/xcuserdata/Mikey.xcuserdatad/xcschemes/droneControl.xcscheme

iOS App/droneControl/droneControl.xcodeproj/xcuserdata/Mikey.xcuserdatad/xcschemes/xcschememanagement.plist

iOS App/droneControl/droneControl.xcodeproj/project.pbxproj
